@page "/Rules"
@attribute [Authorize]

@inject UnitOfWork unitOfWork
@inject ClipboardService ClipboardService
@inject ISnackbar Snackbar

<MudContainer>
    <MudPaper Class="pa-2">
        <MudText Typo="Typo.h2">Noteikumi </MudText>

        <p></p>
        <MudList T="string">
            <MudListItem IconColor="@Color.Secondary" Icon="@Icons.Material.Filled.Numbers">Turnīram dalībnieki var pievienoties jebkurā laikā, taču par notikušajām vai pašreiz notiekošajam spēlēm punktus saņemt nevar!</MudListItem>
            <MudListItem IconColor="@Color.Secondary" Icon="@Icons.Material.Filled.Numbers">Minējumus var ievadīt vai mainīt līdz spēles sākumam! Spēlei sākoties izmaiņas vairs nevarēs veikt!</MudListItem>
            <MudListItem IconColor="@Color.Secondary" Icon="@Icons.Material.Filled.Numbers">Citu dalībnieku minējumus varēs redzēt tikai tad, kad būs sākusies spēle.</MudListItem>
            <MudListItem IconColor="@Color.Secondary" Icon="@Icons.Material.Filled.Numbers">Spēle nevar noslēgties ar neizšķirtu rezultātu līdz ar to punktus par pamatlaika neizšķirtu arī nevar iegūt.</MudListItem>
            <MudListItem IconColor="@Color.Secondary" Icon="@Icons.Material.Filled.Numbers">Turnīrs norisinās kamēr Latvijas izlasei turpina dalību turnīrā. Tiekot tālāk administratori pievienos jaunās spēles.</MudListItem>
            <MudListItem IconColor="@Color.Secondary" Icon="@Icons.Material.Filled.Numbers">Uzvaras dalībnieks ar viss lielāko punktu skaitu </MudListItem>
            <MudListItem IconColor="@Color.Secondary" Icon="@Icons.Material.Filled.Numbers">Ja diviem vai vairākiem dalībniekiem ir vienāds punktu skaits, tad šie dalībnieki turpina likt likmes uz kādas citas komandas spēlēm līdz noskaidrojas uzvarētājs.</MudListItem>
            <MudListItem IconColor="@Color.Secondary" Icon="@Icons.Material.Filled.Numbers">Uzvarētājs saņem visu balvu fondu</MudListItem>
            <MudListItem IconColor="@Color.Secondary" Icon="@Icons.Material.Filled.Numbers">Organizatori patur tiesības ieviest izmaiņas noteikumos</MudListItem>
            <MudListItem IconColor="@Color.Secondary" Icon="@Icons.Material.Filled.Numbers">Dalības maksa <b>10 EUR</b>.</MudListItem>
            <MudListItem IconColor="@Color.Secondary" Icon="@Icons.Material.Filled.Numbers" Text="Punktu sadalījums" Expanded="true">
                <NestedList>
                    <MudListItem IconSize="Size.Small" IconColor="@Color.Secondary" Icon="@Icons.Material.Filled.StarOutline">Punkti par precīzu minējumu: <b>@Tournament?.PointsForPerfect </b> </MudListItem>
                    <MudListItem IconSize="Size.Small" IconColor="@Color.Secondary" Icon="@Icons.Material.Filled.StarOutline">Punkti par pareizu vārtu starpību+uzvarētāju: <b>@Tournament?.PointForDifference</b></MudListItem>
                    <MudListItem IconSize="Size.Small" IconColor="@Color.Secondary" Icon="@Icons.Material.Filled.StarOutline">Punkti tikai par pareizo uzvarētāju: <b>@Tournament?.PointsForWinnerOnly</b></MudListItem>
                </NestedList>
            </MudListItem>
        </MudList>
        <MudDivider />
        <MudText onclick="@CopyToClipboard" Color="Color.Secondary" Typo="Typo.h6"> <MudIconButton Size="Size.Small" Color="Color.Secondary" Icon="@Icons.Material.Outlined.CopyAll" OnClick="@CopyToClipboard"> </MudIconButton> Didzis Stivriņš LV21HABA0551039169500  (Swedbank)</MudText>
        <MudText Color="Color.Primary" Typo="Typo.h6"> <MudLink Color="Color.Secondary" Href="https://www.swedbank.lv/pay?id=3an7muyw0dzlg" Target="_blank"><MudIcon Color="Color.Secondary" Icon="@Icons.Material.Outlined.Link"></MudIcon> Swedbank naudas pieprasījums</MudLink></MudText>
        <MudDivider />
    </MudPaper>
</MudContainer>


@code {
    public Tournament Tournament { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Tournament = await unitOfWork.TournamentRepository.GetActiveTournamentAsync();
    }

    private async Task CopyToClipboard()
    {
        await ClipboardService.CopyToClipboard("LV21HABA0551039169500");

        Snackbar.Add("Konta Nr nokopets", Severity.Info, config =>
           {
               config.RequireInteraction = false;
               config.ShowCloseIcon = false;
               config.VisibleStateDuration = 1000;
               config.HideTransitionDuration = 1000;
               config.ShowTransitionDuration = 1000;
           });
    }
}
