@implements IDisposable
@inject NavigationManager NavigationManager

<MudAppBar Color="Color.Primary" Fixed="false" Elevation="0" Dense="true">
    <AuthorizeView>      
        <Authorized>
            <MudIconButton Icon="@Icons.Material.Filled.Scoreboard" Color="Color.Inherit" Edge="Edge.Start" Href="Overview" />
            <MudIconButton Icon="@Icons.Material.Filled.Info" Color="Color.Inherit" Edge="Edge.Start" Href="rules" />
            <MudIconButton Icon="@Icons.Material.Filled.CalendarMonth" Color="Color.Inherit" Edge="Edge.Start" Href="https://www.iihf.com/en/events/2024/wm/schedule" />
            <MudSpacer />
            <AuthorizeView Roles="Admin" Context="innerContext">
                <MudIconButton Icon="@Icons.Material.Rounded.AdminPanelSettings" Color="Color.Inherit" Href="Admin" />
            </AuthorizeView>            
            <form action="Account/Logout" method="post">
                <AntiforgeryToken />
                <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                <MudIconButton Icon="@Icons.Material.Rounded.Logout" Color="Color.Inherit" Href="" ButtonType="ButtonType.Submit" />
            </form>
        </Authorized>
        <NotAuthorized>
            <MudSpacer />
            <MudIconButton Icon="@Icons.Material.Rounded.Login" Color="Color.Inherit" Href="Account/Login" />
        </NotAuthorized>
    </AuthorizeView>
</MudAppBar>

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

